@font-face {
    font-family: Pin-Sans-Regular;
    src: url(Font/Pin-Sans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Pin-Sans-Bold;
    src: url(Font/Pin-Sans-Bold.ttf) format("truetype");
}
@font-face {
    font-family: Pin-Sans-Medium;
    src: url(Font/Pin-Sans-Medium.ttf) format("truetype");
}
.VBox_SignIn{
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-spacing: 10px;
}
.Label_SignIn{
    -fx-padding: 10px;
    -fx-font-family: Pin-Sans-Bold;
    -fx-font-size: 30px;
    -fx-text-fill: #1f319d;
}
.Label_Sign1 {
    -fx-font-family: Pin-Sans-Regular;
    -fx-font-size: 15px;
}
.HBox_SignIn{
    -fx-alignment: center;
    -fx-spacing: 10px;
}
.TextField_SignIn{
    -fx-font-family: Pin-Sans-Regular;
    -fx-font-size: 15px;
    -fx-height: 50px;
    -fx-width: 200px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}
.button_SignIn{
    -fx-font-family: Pin-Sans-Bold;
    -fx-font-size: 15px;
    -fx-background-color: #1f319d;
    -fx-text-fill: white;
}
.button_SignUp{
    -fx-font-family: Pin-Sans-Bold;
    -fx-font-size: 15px;
    -fx-border-radius: 5px;
    -fx-background-color: white;
    -fx-text-fill: #1f319d;
    -fx-border-color: #1f319d;
}